html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  color: $txtmain;
  background-image: url("../img/bg-grey.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 65.62% 50%;
}

.container {
  min-width: 1280px;
  padding-left: 25px;
  padding-right: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.button {
  display: block;
  font-size: 10px;
  line-height: 9px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: $btncolor;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecb960;
  }

  &:active {
    opacity: 0.3;
  }
}
