$bgcolor: #f6f6f6;
$txtmain: #1f1f1f;
$txtsecond: #231f20;
$txtthird: #201f1f;
$txtfooter: #211f1f;
$txtgrey: #818285;
$txtgreysecond: #7f8085;
$txtred: #ee2d24;
$boardcolor: #e3e3e4;
$menuactive: #f04239;
$btncolor: #fdda9d;
$labelsouth: #fcb53b;
$labelzsmk: #ee2d24;
$labelntmk: #f57f29;
$borderfooter: #e3e3e4;
$tableborder: #d7d7d9;
$courseplus: #46b900;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
