.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include list-unstyle;
}

.main-menu__item {
  display: inline-block;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  text-transform: uppercase;

  &--active {
    color: $menuactive;
    border-bottom: 2px solid $menuactive;
  }
}

.main-menu__link {
  display: inline-block;
  color: inherit;
  padding-top: 23px;
  padding-bottom: 23px;
}
