.news {
  width: 76.83%;
  margin: 0 auto;
}

.news__pagination {
  display: flex;
  justify-content: space-between;
  width: 325px;
  margin: 0 auto;
}

.news__button {
  display: block;
  text-align: center;
  width: 152px;
}
