.page-footer {
  margin-top: 61px;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 36px;
  border-top: 1px solid $borderfooter;
}

.page-footer__block {
  width: 23.17%;
}

.page-footer__title {
  font-size: 14px;
  line-height: 12.6px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 14px;

  &--hot {
    color: $txtred;
    margin-bottom: 18px;
  }
}

.page-footer__credo {
  font-size: 12px;
  line-height: 19.2px;
  letter-spacing: 0.3px;
  color: $txtgreysecond;
  width: 85%;
  margin-top: 30px;
}

.page-footer__contact-block {
  padding-left: 3px;

  &--email {
    font-weight: 700;
    color: $txtred;
    margin-bottom: 22px;

    @include txt-mini;
  }
}

.page-footer__phone-number {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 700;
  color: $txtfooter;
  margin-bottom: 2px;
}

.page-footer__phone-sign {
  letter-spacing: 0.3px;
  color: $txtgrey;

  @include txt-mini;
}

.page-footer__button {
  letter-spacing: 0.3px;
  text-align: center;
  width: 215px;
  padding-top: 18px;
  padding-bottom: 16px;
}

.page-footer__menu {
  font-size: 14px;
  line-height: 25.2px;
  color: $txtfooter;

  @include list-unstyle;
}

.page-footer__menu-item {
  margin-bottom: 1px;
}

.page-footer__menu-link {
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-footer__note {
  font-size: 12px;
  line-height: 19.2px;
  letter-spacing: 0.2px;
  color: $txtgrey;
  margin-top: 29px;
}
