.quote {
  // align-self: flex-start;
  width: 67.42%;
  padding-left: 25px;
  margin-left: -25px;
  background-image: linear-gradient(to right, #ffffff 0, #ffffff 335px, $bgcolor 335px, $bgcolor 100%);
}
