.quote {
  // align-self: flex-start;
  width: 72%;
  padding-left: 25px;
  margin-left: -25px;
  background-image: linear-gradient(to right, #ffffff 0, #ffffff 345px, $bgcolor 345px, $bgcolor 100%);
}
