.slide {
  position: relative;
  width: 23.28%;
}

.slide__link {
  display: block;
  min-height: 300px;
  outline: none;

  &:hover {
    transform: scale(1.1);
    box-shadow: 2px 0 5px 0 #000000;
  }

  &:active {
    transform: none;
    opacity: 0.5;
  }
}

.slide__image {
  display: block;
}

.slide__label {
  position: absolute;
  left: 11px;
  top: 38.66%;
  width: 60px;
  height: 60px;

  &--south {
    background-color: $labelsouth;
  }

  &--zsmk {
    background-color: $labelzsmk;
  }

  &--ntmk {
    background-color: $labelntmk;
  }
}

.slide__label-text {
  display: inline-block;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 7px;
  margin-top: 32px;
}

.slide__text {
  letter-spacing: 0.28px;
  color: $txtthird;
  width: 95%;
  padding-left: 14px;
  margin-top: 22px;
  margin-bottom: 14px;
}

.slide__date {
  color: $txtgreysecond;
  padding-left: 14px;

  @include txt-mini;
}
